{%extends "layout.html"%}
{%from "macro.html" import docNav %}

{%block nav %}
  {{docNav(name)}}
{%endblock nav%}

{%block content%}
<br>
{%if len%}
	{%for patient in patients%}
		<div class="card border-dark mb-3" style="min-width: 35rem;">
			<div class="card-header">Patient ID  : {{patient[0]}}</div>
			<div class="card-body text-dark">
					<h5 class="card-title">Patient Name: {{patient[1].upper()}}</h5>
					<p class="card-text">Gender        : {{patient[2]}}</p>
					<p class="card-text">Symptoms : {{patient[3]}}</p>

			</div>
		</div>  
	{%endfor%}
{%else%}
		<h1>You has no more patients:)</h1>
{%endif%}
{%endblock content%}